---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>
	
	<!-- Research -->
    {% if page.research %}
      <h2 style="margin-top:-5.5pt">
        <a style="color: inherit">Research</a>
      </h2>
      <div class="research">
        {% capture research_content %}
          {% include_relative research.md %}
        {% endcapture %}
        {% assign research_content = research_content | split: "---" | last %}
        {{ research_content | markdownify }}
      </div>
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Selected Publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}
	
	<!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}
	
	<!-- Awards & Honors -->
    {% if page.awards %}
      <h2>
	  <!-- <h2 style="margin-top:40pt;margin-bottom:20pt"> -->
        <a style="color: inherit">Awards & Honors</a>
      </h2>
      <div class="awards">
        {% capture awards_content %}
          {% include_relative awards.md %}
        {% endcapture %}
        {% assign awards_content = awards_content | split: "---" | last %}
        {{ awards_content | markdownify }}
      </div>
    {% endif %}
	
	<!-- Services -->
    {% if page.services %}
      <h2>
        <a style="color: inherit">Services</a>
      </h2>
      <div class="services">
        {% capture services_content %}
          {% include_relative services.md %}
        {% endcapture %}
        {% assign services_content = services_content | split: "---" | last %}
        {{ services_content | markdownify }}
      </div>
    {% endif %}
	
	<!-- Education -->
    {% if page.education %}
      <h2>
        <a style="color: inherit">Education</a>
      </h2>
      <div class="education">
        {% capture education_content %}
          {% include_relative education.md %}
        {% endcapture %}
        {% assign education_content = education_content | split: "---" | last %}
        {{ education_content | markdownify }}
      </div>
    {% endif %}
	
    <!-- Teaching -->
    {% if page.teaching %}
      <h2>
        <a style="color: inherit">Teaching</a>
      </h2>
      <div class="teaching">
        {% capture teaching_content %}
          {% include_relative teaching.md %}
        {% endcapture %}
        {% assign teaching_content = teaching_content | split: "---" | last %}
        {{ education_content | markdownify }}
      </div>
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}
	
	<!-- Visit tracker -->
    <div style="position: relative; left: 37%; bottom: 0;">
      <a href='https://clustrmaps.com/site/1byt6'  title='Visit tracker'>
        <img src='//clustrmaps.com/map_v2.png?cl=080808&w=a&t=tt&d=KcLuvk789zhFamaXtXifkY5Jw9m1YfE_n_5cQvGs-xw&co=ffffff&ct=808080'/>
      </a>
    </div>

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
